.body_block {
  background-color: #1f2833;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 390px) and (max-width: 844px) and (orientation: portrait) {
  
}
