.classic_scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 110px;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-gutter: stable both-edges;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
  width: 2px; /* Ширина полосы прокрутки */
}

.classic_scroll::-webkit-scrollbar-thumb {
  background-color: #3a7782; /* Цвет полосы прокрутки */
  border-radius: 6px; /* Скругление углов полосы */
}
