.stopwatch_ui {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stopwatch_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 515px;
  height: 100vh;
}

.dial_block {
  min-width: 510px;
  max-width: 510px;
  min-height: 510px;
  max-height: 510px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dial_animated {
  position: absolute;
  transform-origin: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow_block {
  min-width: 3px;
  min-height: 250px;
  background-color: rgb(231, 154, 1);
  position: absolute;
  border-radius: 8px;
  margin-bottom: 100px;
  left: 0%;
  transform: translateY(0%);
  transform: translateX(0%);
  transform-origin: center center;
}

.time_and_buttons_block {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.lap_reset_buttons_block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.time_div_block {
  min-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.minutes_block {
  width: 60px;
  font-size: 50px;
  margin: 1px;
}

.seconds_block {
  width: 52px;
  font-size: 50px;
  margin: 1px;
}

.milliseconds_block {
  text-align: start;
  width: 60px;
  font-size: 50px;
  margin: 1px;
}

.start_stop_buttons_block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lap_list_block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 110px;
  margin-top: 0;
}

@media only screen and (min-width: 980px) and (max-width: 1920px) {
  
}
