.stopwatch_ui {
  height: 100vh;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stopwatch_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 515px;
}

.dial_block {
  min-width: 100%;
  border-radius: 50%;
  border: 2px solid #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dial_animated {
  position: absolute;
  transform-origin: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow_block {
  min-width: 12.4599502px;
  height: 510px;
  position: absolute;
}

.dial_size_block {
  min-height: 510px;
  min-width: 510px;
}

.time_and_buttons_block {
  width: 90%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #2a3645;
}

.lap_reset_buttons_block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.time_div_block {
  min-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.minutes_block {
  width: 68px;
  font-size: 50px;
  margin: 1px;
}

.seconds_block {
  width: 68px;
  font-size: 50px;
  margin: 1px;
}

.milliseconds_block {
  text-align: start;
  width: 54px;
  font-size: 50px;
  margin: 1px;
}

.start_stop_buttons_block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lap_list_block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: max-content;
}

@media only screen and (min-width: 390px) and (orientation: portrait) {
  .stopwatch_ui {
    height: 100vh;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .stopwatch_block {
    min-width: 375px;
    margin-top: 20px;
  }

  .dial_block {
    min-width: 90%;
  }

  .dial_size_block {
    min-height: 350px;
    min-width: 350px;
  }

  .arrow_block {
    height: 350px;
  }
}

@media only screen and (min-width: 360px) and (orientation: portrait) {
  .stopwatch_ui {
    height: 100vh;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .stopwatch_block {
    min-width: 350px;
    margin-top: 15px;
  }

  .dial_block {
    min-width: 90%;
  }

  .dial_size_block {
    min-height: 330px;
    min-width: 330px;
  }

  .arrow_block {
    height: 330px;
  }

  .time_and_buttons_block {
    width: 100%;
  }

  .minutes_block {
    width: 40px;
    font-size: 30px;
    margin: 1px;
  }

  .seconds_block {
    width: 40px;
    font-size: 30px;
    margin: 1px;
  }

  .milliseconds_block {
    text-align: start;
    width: 32px;
    font-size: 30px;
    margin: 1px;
  }
}
