.classic_button {
  height: 80px;
  width: 80px;
  background: #ffffff;
  border-radius: 40px;
  border: 1px solid #838383;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
}

.classic_button:hover {
  cursor: pointer;
}

.green_button {
  height: 80px;
  width: 80px;
  background: #56ff78;
  border-radius: 40px;
  border: 1px solid #006605;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
}

.green_button:hover {
  cursor: pointer;
}

.red_button {
  height: 80px;
  width: 80px;
  background: #ff4545;
  border-radius: 40px;
  border: 1px solid #800000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
}

.red_button:hover {
  cursor: pointer;
}

@media only screen and (min-width: 250px) and (max-width: 339px) and (orientation: portrait) {
  .classic_button {
    height: 60px;
    width: 60px;
    border-radius: 30px;
  }

  .green_button {
    height: 60px;
    width: 60px;
    border-radius: 30px;
  }

  .red_button {
    height: 60px;
    width: 60px;
    border-radius: 30px;
  }
}
